@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom left, #96b0e8, white) no-repeat;
  height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main__wrap {
  max-width: 450px;
  position: relative;
}
.main__girl {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 200px;
  top: -3%;
  right: -42.5%;
  z-index: 1;
}

.block-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 90px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 500px;
  padding: 10px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  background-color: rgb(66, 113, 214);
  color: white;
}
.block-top__img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 200px;
}

.block-bottom {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  min-height: 400px;
  width: 500px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 20px 50px 20px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  background-color: #abc0ed;
}
.block-bottom__img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 25px;
  margin: 0 10px;
}
.block-bottom__img:hover {
  cursor: pointer;
}
.block-bottom__wrap {
  display: flex;
  flex-direction: row;
}
.block-bottom__input {
  width: 350px;
  height: 30px;
  margin: 0px 10px 10px 0px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.6;
  border: 1px solid rgb(66, 113, 214);
  border-radius: 5px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.block-bottom__input::-moz-placeholder {
  color: #999;
  font-style: italic;
  text-transform: none;
}
.block-bottom__input::placeholder {
  color: #999;
  font-style: italic;
  text-transform: none;
}
.block-bottom__input:focus {
  box-shadow: 0 0 10px rgb(66, 113, 214);
  outline: none;
}
.block-bottom__label {
  color: rgb(66, 113, 214);
  font-weight: bolder;
}
.block-bottom__btn {
  width: 50px;
  height: 30px;
  border-radius: 7px;
  background-color: rgb(66, 113, 214);
  transition: scale 0.3s ease-in-out;
  color: white;
  font-weight: bold;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}
.block-bottom__btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.block-bottom__btn:active {
  transform: scale(1);
}
.block-bottom__entries {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.block-bottom__entry {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  font-size: 20px;
}
.block-bottom__todo {
  margin: 0 20px;
}
.block-bottom__cleaner {
  position: absolute;
  bottom: 3%;
  left: 32%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  color: green;
}/*# sourceMappingURL=style.css.map */